# =============== #
# Unity generated #
# =============== #
Library/
Temp/
FunMJ/Library/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
.vs/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.lock

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/*.zip
/uwnp-client/Logs
/uwnp-client/Assets/JejumokGwana
/uwnp-client/Assets/BizulkaProduction
/uwnp-client/Assets/Blue Dot Studios
/uwnp-client/Assets/House Of Changwon
/uwnp-client/Assets/HYPER CASUAL CHARACTERS VOLUME 1
/uwnp-client/Assets/MainClient
/uwnp-client/Assets/Blue Dot Studios
/uwnp-client/Assets/House Of Changwon
/uwnp-client/Assets/Medieval houses
/uwnp-client/UserSettings
